.i-content.login-content{
    padding: 25px;

    /*注册框大小适配*/
    .login-info{
        width: 100%;
        @media (min-width: 768px){
            width: 400px;
        }
        margin: 60px auto 0;
        text-align: center;
        list-style: none;
        padding: 0;
        .err-message{
            height: 20px;
            margin: 6px 0;
            .tips{
                font-size: 12px;
                color:#f66495;
                text-align: left;
            }    
        }
        .remember{
            margin: 10px 0;
            color: #717171;
            font-size: 12px;
            text-align: left;
            .me{
                font-size:12px;
                @media (max-width: 768px){
                    .bigscreen{
                        display: none;
                    }            
                }
            }
            span{
                color: #717171;
            }
            a{
                float: right;
            }
        }
        .btn-box{
            display: flex;
            justify-content: space-between;
        }     
        .sns {
            text-align: left;
            padding: 12px 0;
            font-size: 12px;
            .wechat-href{
                margin-right: 20px;
                color: #717171;
                i{
                    color: #2EBB4F;
                    font-size: 18px;
                    vertical-align: middle;
                    margin-right: 5px
                }
            }
            .qq-href{
                color: #717171;
                i{
                    color: #1890ff;
                    font-size: 18px;
                    vertical-align: middle;
                    margin-right: 4px
                }
            }
        }
    }
}

/**v1.0.0 */
