.header{
    height: 155px;
    background: #fff; 
    z-index: 10;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    min-width: 778px;
    .largeScreenNavbar{
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 778px){
    .header{
        &.ant-layout-header{
            min-width: unset;
            padding: 0 10px;
        }
    }
}


.bgImage{
    position: absolute;
    left: 0;
    top: 0;
    height:155px;
    width:100%;
    background: url(/image/7197cae46569a49abd98e0c51348068831be6a85.png) no-repeat center;
    background-size:cover;
    z-index: -1;
    line-height: 155px;
    text-align: center;
}

.bgModal{
    position: absolute;
    left: 0;
    top: 0;
    height:100px;
    width:100%;
    z-index: -1;
    line-height: 155px;
    text-align: center;
    /*background: rgba(0,0,0,0.1);*/
    background: linear-gradient(rgba(0,0,0,.2),transparent)
}
